<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://assets.pagar.me/pagarme-js/3.0/pagarme.min.js"></script>
  <title> Checkout </title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/styleCheckout.css"/>
  <script language="JavaScript"> 
    $(document).ready(function () {
     $('.person-type').click(function() {
         if($(this).attr('id') == 'individual') {
              $('#CPF').show();  
              $("#CNPJ").hide();      
         }
         else {
              $('#CPF').hide();
              $('#CNPJ').show();   
         }
     });
     /*
     $('.payment-method').click(function(){
     	if($(this).attr('id') == 'cartao') {
     		$('#credit_card_div').show();
     	} else{
     		$('#credit_card_div').hide();
     	}
     })
     */
  });
</script>
<script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
</head>
<!--<body onload="loadInstallments()">-->

<h2>Checkout</h2> 

<div class="row">
  <div class="col-75">
    <div class="container">
      <form action="/" id="payment_form">
      
        <div class="row">
          <div class="col-50">
            <h3>Endereço</h3>
            <label for="fname"><i class="fa fa-user"></i> Nome Completo</label>
            <input type="text" id="name" name="name" placeholder="John M. Doe">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="john@example.com">
            <label for="phone"> <i class="fa fa-phone"></i> Telefone </label>
            <input type="text" id="fa-phone" name = "phone" placeholder="+5511985457878"/>
            <label for="birthday"> <i class="fa fa-birthday-cake"> </i> Data de nascimento </label>
            <input type="date" id="birthday" name="birthday" placeholder="09/10/1996">
            <label for="adr"><i class="fa fa-address-card-o"></i> Rua</label>
            <input type="text" id="adrStreet" name="address" placeholder="Rua Rio Madeira">
            <label for="adr"><i class="fa fa-address-card-o"></i> Número da rua</label>
            <input type="text" id="adrNumber" name="number" placeholder="7">
            <label for="adr"><i class="fa fa-address-card-o"></i> Complemento</label>
            <input type="text" id="adrComplementary" name="complementary" placeholder="B">
             <label for="adr"><i class="fa fa-address-card-o"></i> Bairro</label>
            <input type="text" id="adrNeighborhood" name="neighborhood" placeholder="Parque Miami">
            <label for="city"><i class="fa fa-institution"></i> Cidade</label>
            <input type="text" id="city" name="city" placeholder="Santo Andre">

            <div class="row">
              <div class="col-50">
                <label for="state">Estado</label>
                <select name="state" id='state'>
                    <option value="AC">Acre</option>
                    <option value="AL">Alagoas</option>
                    <option value="AP">Amapá</option>
                    <option value="AM">Amazonas</option>
                    <option value="BA">Bahia</option>
                    <option value="CE">Ceará</option>
                    <option value="DF">Distrito Federal</option>
                    <option value="ES">Espírito Santo</option>
                    <option value="GO">Goiás</option>
                    <option value="MA">Maranhão</option>
                    <option value="MT">Mato Grosso</option>
                    <option value="MS">Mato Grosso do Sul</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="PA">Pará</option>
                    <option value="PB">Paraíba</option>
                    <option value="PR">Paraná</option>
                    <option value="PE">Pernambuco</option>
                    <option value="PI">Piauí</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="RN">Rio Grande do Norte</option>
                    <option value="RS">Rio Grande do Sul</option>
                    <option value="RO">Rondônia</option>
                    <option value="RR">Roraima</option>
                    <option value="SC">Santa Catarina</option>
                    <option value="SP">São Paulo</option>
                    <option value="SE">Sergipe</option>
                    <option value="TO">Tocantins</option>
                </select>
              </div>
              <div class="col-50">
                <label for="zip">CEP</label>
                <input type="text" id="zip" name="zip" placeholder="09133180">
              </div>
            </div>
          </div>
          <div class="col-50">
                <input type="button" value="Autocompletar Dados" onClick="loadData()" class="btn" />
                 <label for="person-type" > <h3> Documento </h3> </label>
                 <input type="radio" class ="person-type" name="person-type"  id ='individual' value="individual" checked> Pessoa Física
                 <input type="radio" class ="person-type" name="person-type"  id='corportate' value="corporate">Pessoa Jurídica<br>
                 <div id ='CPF'> 
                   <label for="CPF"> CPF </label>
                   <input type="text" id="CPFText" name="CPF" placeholder="11111111111">
                 </div>
                 <div id ='CNPJ' style="display:none">
                   <label for="CNPJ"> CNPJ </label>
                   <input type="text" id="CNPJText" name="CNPJ" placeholder="11111111111111">
                 </div>
                 <!--
            <h3>Pagamento</h3>
            <input type="radio"  class = 'payment-method' name="payment-method"  id='cartao' value="cartao" checked/> Cartão de crédito 
           	<input type="radio" class ='payment-method' name="payment-method"  id ='boleto' value="boleto"/> Boleto Bancário <br>
     
            <div id='credit_card_div'>
	            <label for="cname">Nome do portador do cartão</label>
	            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
	            <label for="ccnum">Número do cartão</label>
	            <input type="text" id="ccnum" name="cardnumber" placeholder="1111222233334444">
	           
	    
	            <div class="row">
	              <div class="col-50">
		              <label for="expmonth">Mes de Expiração</label>
		              <input type="text" id="expmonth" name="expmonth" placeholder="09"/>
	              </div>
	              <div class="col-50">
		               <label for="expyear">Ano de expiração</label>
		               <input type="text" id="expyear" name="expyear" placeholder="2018">
	              </div>
	            </div>
	            <label for="cvv">CVV</label>
	            <input type="text" id="cvv" name="cvv" placeholder="352">
              <div id='menu-installments'>
  	            <label for="sinstallments"> Parcelas </label>
  	            <select id ='installments' name='sinstallments'></select>
              </div>
            </div>
          -->
            <!-- <button id="pay-button">Abrir modal de pagamento</button> -->
	       	</div>
        </div>

        <input type="submit" value="Pagar" class="btn">
      </form>
    </div>
  </div>
  <div class="col-25">
    <div class="container">
      <h4>Cart <span class="price" style="color:black"><i class="fa fa-shopping-cart"></i> <b>1</b></span></h4>
      <%- JSON.stringify(product.name) %>
      <p> <span class="price"><%- JSON.stringify(product.price) %></span></p>
      <hr>
      <p>Total <span class="price" style="color:black"><b><%- JSON.stringify(product.price) %></b></span></p>
    </div>
  </div>
</div>
<script>
	function sendData(transactionInformation,customer,url){
          	$.ajax({
                  type: "POST",
                  url: url,
                  data: {
                    'customer': customer,
                    'transactionInformation': transactionInformation,
                },
                success: function(res) {
                  window.location = '/postOrder?data='+res
                }
                
              });
  }
  /*
    function loadInstallments(){
       if( <%- JSON.stringify(product.type) %> === 'product' ){
                var installments = <%-JSON.stringify(installments) %>; 
                console.log(typeof installments)
                console.log(installments);
                var sel = document.getElementById('installments');   
                for(index in installments.installments){
                  let installment = installments.installments[index];
                  var opt = document.createElement('option');
                  opt.innerHTML = installment.installment+"x de "+installment.installment_amount;
                  opt.value = installment.installment;
                  sel.appendChild(opt);
                } 
        } else{
                 $('#menu-installments').hide(); 
        }
      
    };
    */
    function loadData(){
      var customer = <%- JSON.stringify(customer) %>;
      $("#payment_form #name").val(customer[0].name);
      $("#payment_form #email").val(customer[0].email);
      $("#payment_form #fa-phone").val(customer[0].phone);
      $("#payment_form #birthday").val(customer[0].birthday);
      $("#payment_form #adrStreet").val(customer[0].street);
      $("#payment_form #adrNumber").val(customer[0].street_number);
      $("#payment_form #adrComplementary").val(customer[0].complementary);
      $("#payment_form #adrNeighborhood").val(customer[0].neighborhood);
      $("#payment_form #city").val(customer[0].city);
      $("#payment_form #state").val(customer[0].state);
      $("#payment_form #zip").val(customer[0].zipcode);
      $("#payment_form #CPFText").val(customer[0].document_number);
    };

    $(document).ready(function() { 
      var form = $("#payment_form")
      form.submit(function(event) {
          event.preventDefault();   
          var person_type = '';
          var document_number = '';
          if($('input[name=person-type]:checked').val() == 'individual'){
            person_type = "individual";
            document_number = $("#payment_form #CPFText").val();
          } else{
            person_type = "corporation";
            document_number = $("#payment_form #CNPJText").val();
          }
         
          var sec_recipient = '';
          var default_recipient_id =  <%-JSON.stringify(product.default_recipient_id) %>;
          var splitRules =  <%- JSON.stringify(product.split_rules) %>;
          //var installments = $("#payment_form #installments").val();
          if(splitRules === 'yes'){
            sec_recipient =  <%-JSON.stringify(product.rid) %>;
          } 
          var payment_method = '';
          /*
          if($('input[name=payment-method]:checked').val() === 'cartao'){
           		payment_method = 'cartao';
           } else{
           		payment_method = 'boleto';
           		installments = '1';
           }
           */
          var customer = {
          	'name': $("#payment_form #name").val(),
          	'email': $("#payment_form #email").val(),
          	'document_number': document_number,
          	'person_type': person_type,
          	'phone': $("#payment_form #fa-phone").val(),
          	'birthday': $("#payment_form #birthday").val(),
          	'address': {
          		'street':$("#payment_form #adrStreet").val(),
          		'number':  $("#payment_form #adrNumber").val(),
          		'complementary':  $("#payment_form #adrComplementary").val(),
          		'neighborhood': $("#payment_form #adrNeighborhood").val(),
          		'city':  $("#payment_form #city").val(),
          		'state': $("#payment_form #state").val(),
          		'zip': $("#payment_form #zip").val()
          	}
         }
         var transactionInformation = {
          	'amount': <%- JSON.stringify(product.price) %>,
          	'split_rules': splitRules,
          	'sec_recipient': sec_recipient,
          	'plan_id': <%- JSON.stringify(product.plan_id) %>,
          	'item_name': <%- JSON.stringify(product.name) %>,
          	'installments': 1,
            'payment_method': '',
            'default_recipient_id': default_recipient_id
          }
          var url = '';
          if( <%- JSON.stringify(product.type) %> === 'product' ){
                  url  = '/createTransaction';
          } else{
                  url = '/createSubscription';
          }
          //var hash = ''
          var encryption_key = <%- JSON.stringify(encryption_key) %>;
          /*
          if(payment_method == 'cartao'){
	          	var card = {} 
		        card.card_holder_name = $("#payment_form #cname").val()
		        card.card_expiration_date = $("#payment_form #expmonth").val() + '/' + $("#payment_form #expyear").val()
		        card.card_number = $("#payment_form #ccnum").val()
		        card.card_cvv = $("#payment_form #cvv").val()
		        var cardValidations = pagarme.validate({card: card})
	          	pagarme.client.connect({ encryption_key: encryption_key })
	            .then(client => client.security.encrypt(card))
	            .then(card_hash => {
	                hash = card_hash
	             	transactionInformation.hash = hash;
	             	sendData(transactionInformation,customer,url);
	             })  
          }else{
          	sendData(transactionInformation,customer,url);
          }
          return false
          */
          /*
          var button = document.querySelector('button')
          button.addEventListener('click', function() {
          */
          function loadCheckout(){
            function handleSuccess (data) {
              console.log(data);
              if(data.payment_method == 'credit_card'){
                transactionInformation.hash = data.card_hash;
              }
                transactionInformation.payment_method = data.payment_method;
                transactionInformation.installments = data.installments;
                sendData(transactionInformation,customer,url);
            }

            function handleError (err) {
              console.log(err);
            }

            function handleClose() {
                    console.log('The modal has been closed.');
            }

            var checkout = new PagarMeCheckout.Checkout({
              encryption_key: <%- JSON.stringify(encryption_key) %>,
              success: handleSuccess,
              error: handleError,
              close: handleClose
            });

            checkout.open({
              amount: transactionInformation.amount,
              buttonText: 'Pagar',
              buttonClass: 'botao-pagamento',
              maxInstallments: 12,
              defaultInstallment: 1,
              createToken: 'false',
              paymentMethods: 'boleto, credit_card',
              customerData: false,
              /*
              customer: {
                external_id: '#123456789',
                name: customer.name,
                type: customer.person_type,
                country: 'br',
                email: customer.email,
                documents: [
                  {
                    type: 'cpf',
                    number: document_number,
                  },
                ],
                phone_numbers: ['+' + customer.phone],
                birthday: customer.birthday,
              },
              billing: {
                name: 'Ciclano de Tal',
                address: {
                  country: 'br',
                  state: customer.address.state,
                  city: customer.address.city,
                  neighborhood: customer.address.neighborhood,
                  street: customer.address.street,
                  street_number: customer.address.number,
                  zipcode: customer.address.zip
                }
              },
              shipping: {
                name: 'Ciclano de Tal',
                fee: 12345,
                delivery_date: '2020-12-25',
                expedited: true,
                address: {
                  country: 'br',
                  state: customer.address.state,
                  city: customer.address.city,
                  neighborhood: customer.address.neighborhood,
                  street: customer.address.street,
                  street_number: customer.address.number,
                  zipcode: customer.address.zip
                }
              },
              items: [
                {
                  id: '1',
                  title: 'Bola de futebol',
                  unit_price: 12000,
                  quantity: 1,
                  tangible: true
                }
              ]*/
            })
          };
          loadCheckout();
    });
});

</script>

</body>
</html>